$note-default: #FFFFE0;


* {
  box-sizing: border-box;
}

.one-column {
  width:100%;
}
.spacer-1 {
  height:rem(10);
  width:100%;
}
.spacer-2 {
  height:rem(20);
  width:100%;
}
.spacer-3 {
  height:rem(30);
  width:100%;
}
.spacer-4 {
  height:rem(40);
  width:100%;
}
.flex-centered {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.centered-object {
  margin:0 auto;
  display:block
}
.hidden {
  width:0;
  height:0;
  overflow:hidden;
  position: absolute;
  left:-1000000px;
}
.main {
  width:rem(1200);
  margin:rem(80) auto;
}

tr td:first-child {
  // border:1px solid red;
  // width:400px !important;
}
.toolbar {
  margin-right:30px;
}
form {
  max-width:450px;
  margin:0 auto;
}
input[type=color], input[type=text] {
  height:50px;
}
.star-rating {
  width:100%;
  text-align: center;
  padding:8px 0 0;
}
.star-text {
  width:100%;
}
.star {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 2px;
  display:inline-block;
  // float: left;
  transition: background-color .2s;
  background-color: grey;
  clip-path: polygon( 50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38% );
}
.star.selected {
  background-color:red;
  transition: background-color .2s;
}
.color-list {
  display: flex;
  flex-wrap: wrap;
  max-width:1000px;
  margin:40px auto 0;
}
section.color {
  flex-basis: 18%;
  flex-grow: 0;
  margin:1%;
  position: relative;
}
div.color {
  padding-top: 100%;
}
form {
  // border:1px solid red;
  margin:0;
  padding:0;
}
button.close {
  position: absolute;
  right:0;
  background-color: transparent;
  padding:10px;
}
label {
  font-weight:500;
  font-size:10px;
  text-transform: uppercase;
  color:#999;
  letter-spacing: .5px
}
select {
  border:0;
  background-color: transparent;
  font-size: 14px;
  text-decoration: underline;
}
input[type=checkbox] {
  border:3px solid red;
  position: absolute;
  left:-10000px;
}
input[type=checkbox] + label {
  &::before {
    content: "";
    display: inline-block;
    border:1px solid #d0d0d0;
    width:10px;
    height:10px;
    vertical-align: -2px;
    margin: 0 8px 0 0;
  }
}
input[type=checkbox]:checked + label {
  // font-weight: normal;
  &::before {
    content: "";
    background-color: #d0d0d0;
  }
}



input.color[type=radio] {
  position: absolute;
  left:-10000px;
}
input.color[type=radio] + label {
  font-size: 0px;
  &::before {
    content: "";
    display: inline-block;
    width:12px;
    height:12px;
    border-radius: 50%;
    vertical-align: -2px;
    margin: 0 8px 0 0;
    border:3px solid transparent;
    transform: scale(1);
    transition: transform .1s ease-in-out;
  }
  &:hover {
    &::before {
      box-shadow: 0 0 0 1px rgba(#d0d0d0, 1);
      transition: box-shadow .2s;
    }
  }
}
label.blue {
  &::before {
    background-color: #E0FFFF;
  }
}
label.pink {
  &::before {
    background-color: #FFE4E1;
  }
}
label.green {
  &::before {
    background-color: #F0FFF0;
  }
}
label.yellow {
  &::before {
    background-color: #FFFACD;
  }
}
label.purple {
  &::before {
    background-color: #E6E6FA;
  }
}
label.orange {
  &::before {
    background-color: #FFE4B5;
  }
}

input.color[type=radio]:checked + label {
  // font-weight: normal;
  &::before {
    content: "";
    transform: scale(1.3);
    transition: transform .1 ease-in-out;
    box-shadow: 0 0 0 1px rgba(#d0d0d0, 1);
  }
}
.icn-color {
  fill:red;
  width:20px;
  height:20px;
  margin:-1px 0 0 -1px
}

.more-space-below {
  margin-bottom:12px;
}
.notes-app {
  display: flex;
  flex-wrap: wrap;
  max-width:1200px;
  margin:0 auto;
}
.note {
  flex-basis: 31%;
  flex-grow: 0;
  flex-shrink: 0;
  margin:10px 1%;
  height: calc(1200px / 3);
  background-color: #FFFFE0;
  box-shadow: 2px 2px 6px rgba(#999, .4);
  border-radius: 3px;
  position: relative;
  display:flex;
  opacity:1;
  transition: position 2s;
  flex-direction: column;
    &:last-child {
      background-color: white;
      border:3px dashed #d0d0d0;
      box-shadow: none;
    }
}
.note.blue {
  background-color: #E0FFFF;
  transition: background-color .2s;
}
.note.pink {
  background-color: #FFE4E1;
  transition: background-color .2s;
}
.note.green {
  background-color: #F0FFF0;
  transition: background-color .2s;
}
.note.yellow {
  background-color: #FFFACD;
  transition: background-color .2s;
}
.note.purple {
  background-color: #E6E6FA;
  transition: background-color .2s;
}
.note.orange {
  background-color: #FFE4B5;
  transition: background-color .2s;
}
.note.remove {
  opacity:0;
  transform: scale(1.5);
  transition: opacity .3s ease-in, transform .3s ease-in;
  border:4px solid red;
}
.note-header {
  display: flex;
  justify-content: flex-end;
  width:100%;
  padding:8px;
  flex-grow: 0;
  flex-shrink: 0;
}
.note-content {
  flex-grow: 1;
  padding:0 30px 20px;
  overflow-y: scroll;
}
.note-footer {
  align-self: flex-end;
  width:100%;
  flex-grow: 0;
  flex-shrink: 0;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.notes-status {
  flex-shrink:0;
  flex-basis:100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:0 18px 18px;
}
.note-editable {
  margin:0 0 24px;
  color:#444;
  transition: color .2s;
  font-size:18px;
  line-height: calc(22 / 18);
}
.note-editable:focus {
  outline:none;
  color:#000;
  transition: color .2s;
}
[contentEditable=true]:empty:not(:focus)::before {
  content:"Add your note ...";
  color:#999;
}
.note-close-btn {
  width:20px;
  height:20px;
  fill:rgba(#666, .2);
  transition: fill .2s;
  cursor: pointer;
  &:hover {
    fill:rgba(#666, .4);
    transition: fill .2s;
  }
}
.note-revert-btn {
  width:20px;
  height:20px;
  fill:rgba(#666, .2);
  transition: fill .2s;
  cursor: pointer;
  border:1px solid red;
  &:hover {
    fill:rgba(#666, .4);
    transition: fill .2s;
  }
}
.notes-picker-icn {
  width:20px;
  height:20px;
  position: relative;
  z-index: 1;
  .notes-colors {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left:-100000000px;
    width:200px;
    border:1px solid #d0d0d0;
    border-radius: 18px;
    padding:8px 0 8px 8px;
    height:36px;
    background-color: white;
    opacity:0;
    transition: opacity .2s;
  }
  &:hover {
    .notes-colors {
      top:-10px;
      left:-10px;
      opacity:1;
      transition: opacity .2s;
    }
  }
}

// @media screen and (min-width: 650px) {
  .select {
    z-index: 1;
    display: flex;
    margin:2px 0 0 0;
    label {
      margin:3px 6px 0 0;
    }
  }

  .select ul {
    margin-left: 0;
    padding-left: 0;
    margin:0;
  }

  .select li {
    display: block;
    font-size: 14px;
    // text-transform: uppercase;
    &:hover {
      cursor: pointer;
    }
  }
  li.selector {
    color:#666;
    &::after {
      display: inline-block;
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #999;
      margin: 0 0 0 6px;
      vertical-align: 2px;
   }
   &:hover {
     color:#444;
     &::after {
       border-top: 5px solid #444;
       transition: border .2s;
     }
   }
  }
  .select a {
    text-decoration: none;
    color:#666;
  }
  .select > ul > li {
    text-align: left;
  }

  .select > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  .select li ul {
    position: absolute;
    // display: none;
    right: -10000000px;
    opacity: 0;
    border-bottom:1px solid #d0d0d0;
    margin:0;
    padding:8px 0 0;
  }

  .select li:hover ul {
    right: 12px;
    opacity: 1;
    transition: opacity .2s;
    margin:0;
  }
  .select li ul li {
    display: block;
    padding:12px 32px;
    border-top:1px solid #d0d0d0;
    border-left:1px solid #d0d0d0;
    border-right:1px solid #d0d0d0;
    background-color: white;
    transition: background-color .2s;
    white-space: nowrap;
    &:hover {
      background-color: #d0d0d0;
      transition: background-color .2s;
      cursor: pointer;
      a {
        color:#444;
      }
    }
  }
  .notes-app {
    // opacity: 0;
  }
  .notes-app.active {
    // border:3px solid red;
    // animation-name: fadeIn;
    // animation-duration: .3s;
  }
  .loader {
    display: flex;
    flex-wrap: wrap;
    max-width:1200px;
    margin:0 auto;
    height:100vh;
    background-color:white;
    align-items: center;
    justify-content: center;
    background-color: blue
  }
  @keyframes fadeIn {
    from {opacity:0}
    to {opacity:8}
}
