* {
  box-sizing: border-box;
}

.one-column {
  width:100%;
}
.spacer-1 {
  height:rem(10);
  width:100%;
}
.spacer-2 {
  height:rem(20);
  width:100%;
}
.spacer-3 {
  height:rem(30);
  width:100%;
}
.spacer-4 {
  height:rem(40);
  width:100%;
}
.flex-centered {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.centered-object {
  margin:0 auto;
  display:block
}
.hidden {
  width:0;
  height:0;
  overflow:hidden;
  position: absolute;
  left:-1000000px;
}
.main {
  width:rem(1200);
  margin:rem(80) auto;
}

tr td:first-child {
  // border:1px solid red;
  // width:400px !important;
}
.toolbar {
  margin-right:30px;
}
form {
  max-width:450px;
  margin:0 auto;
}
input[type=color], input[type=text] {
  height:50px;
}
.star-rating {
  width:100%;
  text-align: center;
  padding:8px 0 0;
}
.star-text {
  width:100%;
}
.star {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 2px;
  display:inline-block;
  // float: left;
  transition: background-color .2s;
  background-color: grey;
  clip-path: polygon( 50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38% );
}
.star.selected {
  background-color:red;
  transition: background-color .2s;
}
.color-list {
  display: flex;
  flex-wrap: wrap;
  max-width:1000px;
  margin:40px auto 0;
}
section.color {
  flex-basis: 18%;
  flex-grow: 0;
  margin:1%;
  position: relative;
}
div.color {
  padding-top: 100%;
}
form {
  // border:1px solid red;
}
button.close {
  position: absolute;
  right:0;
  background-color: transparent;
  padding:10px;
}
.notes-app {
  display: flex
}
.note {
  border:1px solid red;
  flex-basis: 23%;
  flex-grow: 0;
  flex-shrink: 0;
  margin:10px 1%;
  padding:12px;
}
label {

}
input[type=checkbox] {
  border:3px solid red;
  position: absolute;
  left:-10000px;
}
input[type=checkbox] + label {
  font-weight: normal;
  &::before {
    content: "";
    display: inline-block;
    border:1px solid red;
    width:14px;
    height:14px;
    vertical-align: -2px;
    margin: 0 8px 0 0;
  }
}
input[type=checkbox]:checked + label {
  font-weight: normal;
  &::before {
    content: "";
    background-color: red;
  }
}
.more-space-below {
  margin-bottom:12px;
}
