$note-default: #FFFFE0;


* {
  box-sizing: border-box;
}

.one-column {
  width:100%;
}
.spacer-1 {
  height:rem(10);
  width:100%;
}
.spacer-2 {
  height:rem(20);
  width:100%;
}
.spacer-3 {
  height:rem(30);
  width:100%;
}
.spacer-4 {
  height:rem(40);
  width:100%;
}
.flex-centered {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.centered-object {
  margin:0 auto;
  display:block
}
.hidden {
  width:0;
  height:0;
  overflow:hidden;
  position: absolute;
  left:-1000000px;
}
.main {
  width:100vw;
  height:100vh;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.app {
  width:90vw;
  height:75vh;
  border:1px solid red;
  position: relative;
}
.btn {
  width:200px;
  height:50px;
}
.test-wall {
  height:100%;
  width:10vw;
  position: absolute;
  right:-10vw;
  border:1px solid blue;
}
.test-wall.active {
  transform: translateX(0);
  animation-name: fontbulger;
  // animation-duration: 3s;
  border:1px solid red;
}
@keyframes fontbulger {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100vw);
  }
}

#box {
   animation: fontbulger 2s infinite;
}
